body,
html {
  height: 100%;
  margin: 0;
}

.main {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1506869640319-fe1a24fd76dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JvdXAlMjBvZiUyMGZyaWVuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.heading{
  color: black;
  font-size: 100px;
  margin: 0;
  font-family: 'Comforter Brush', cursive;
}

.caption{
  color: gray;
  margin: 10px auto 0px auto;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
}

.nav-item{
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.buttons{
  margin-top: 50px;
}

.register-btn{
    margin-left: 20px;
}